<nav class="navbar navbar-light bg-light" style="width = 100%; padding: 0 0 0 0;">
  <h5>Get method</h5>
  <form class="form-inline" method="get" action="" style="margin = 0 0 0 0; padding: 0 0 0 0;">
    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <hr>
  <h5>Post method</h5>
   <form class="form-inline" method="post" action="" style="margin = 0 0 0 0; padding: 0 0 0 0;">
    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>